<div class="banner">
  <%=  image_tag("3.jpg", :alt=> "Banner", :class=>"round")%>
</div>
<div class="contenido">
<h1>Nosotros</h1>
<p><strong>Yoptic </strong> proporciona la plataforma online para administrar opticas y llevarlas al exito.
  Nuestra plataforma permite la gestion integral de tu optica para lograr la excelencia operacional  y obtener resultados extraordinarios.
  Agilidad, simplicidad y flexibilidad son la guia de nuestras acciones. Creemos en
la transparencia como eje de nuestras relaciones, en la integridad a la hora de actuar, en el compromiso con nuestros stakeholders
y en el respeto que nuestros clientes exigen.</p><br/>
<p>
  Muchas opticas nos han confiado su administracion y operacion gracias a que entendemos sus retos y a la flexibilidad que ofrecemos para configurar la plataforma. Ademas, les encanta el corto tiempo en que tienen la plataforma funcionando y los excelentes resultados que les ha traido para su negocio.</p><br/>

<p>Con <strong>Yoptic </strong> controlas tu desempeno, logras la excelencia operacional y creces constantemente.</p>

<h1>Valores</h1>
<p>En <strong>Yoptic </strong> creemos y somos guiados por 5 valores esenciales para nuestras relaciones:</p>
<ul>
  <li>Transparencia</li>
  <li>Simplicidad</li>
  <li>Agilidad</li>
  <li>Crecimiento</li>
  <li>Excelencia</li>
</ul>

<h1>Equipo</h1>
<p>El equipo humano de <strong>Yoptic </strong> es un equipo altamente competente que esta enfocado en la satisfaccion del cliente. Nuestra amabilidad, compromiso, dedicacion, excelencia y agilidad hacen que nuestras relaciones sean duraderas y solidas.Creemos en la transformacion personal y social por medio del trabajo fuerte por lo que constantemente entrenamos a nuestro equipo para desarrollar destrezas y reforzar habilidades individuales y grupales.</p><br/>
<ul>
  <li><strong>Michel Kuperman</strong> Gerente general - Estudios en Ingenieria de Sistemas con estudios de profundizacion en finanzas y arquitecturas de tecnologia de la Universidad de los Andes. Ha liderado la formacion y consolidacion de la empresa en el mercado nacional y esta al tanto de la estrategia de producto y comercial. En estos momentos se encarga de las operaciones de la compania y su estratega de crecimiento.</li>
</ul>
<br/>
</div>