<div class="banner">
  <%=  image_tag("14.jpg", :alt=> "Banner", :class=>"round")%>
</div>
<div class="contenido">
<h1>Beneficios</h1>
<p><strong>Yoptic </strong> esta logrando que muchas opticas logren resultados extraordinarios.
  Los beneficios son impresionantes y los administradores estan felices de contar con una plataforma que habian estado esperando para la gestion integral de su optica.
  Te invitamos a que pruebes nuestra plataforma y hagas de tu trabajo un trabajo mas apasionante.</p><br/>
   
<p>Con <strong>Yoptic </strong> no obtienes solo una plataforma, obtienes confianza!</p><br/>

<%= image_tag("benefits.png", :alt => "Imagen plataforma", :class => "round") %>

<br/>
</div>