<div class="banner">
  <%=  image_tag("1.jpg", :alt=> "Banner", :class=>"round")%>
</div>
<div class="contenido">
<h1>Contactenos</h1>
<p><strong>Yoptic </strong>es la compania lider que proporciona la plataforma online para la gestion integral de opticas.

Si desea conocer mas detalles sobre la plataforma y evaluar como <strong>Yoptic </strong> puede ayudar a su negocio a tener exito y un crecimiento constante por favor registre el siguiente formulario y un experto del producto se pondra en contacto con usted.</p><br/>

<p>Si necesita ayuda inmediata, puede contactar a una persona de ventas llamando al <strong>3153985990 </strong>(Colombia) o escribiendonos un mail a <strong> ventas@yoptic.com </strong></p><br/>

<p>Con <strong>Yoptic </strong> logras la excelencia operacional, controlas tu desempeno y creces constantemente.</p>
<br/>
</div>