<div class="banner">
  <%=  image_tag("14.jpg", :alt=> "Banner", :class=>"round")%>
</div>
<div class="contenido">
<h1>Ediciones</h1>
<p>La plataforma <strong>Yoptic </strong> cuenta con 3 ediciones que puedes escoger dependiendo de tus necesidades y capacidades.
  Tenemos 5 modulos para la gestion integral de tu optica que puedes usar segun la edicion que escojas.</p><br/>
   
<p>Con <strong>Yoptic </strong> controlas tu desempeno, logras la excelencia operacional y creces constantemente.</p><br/>

<%= image_tag("editions.png", :alt => "Imagen plataforma", :class => "round") %>

<br/>
</div>