<div class="banner">
  <%=  image_tag("privacy.png", :alt=> "Banner", :class=>"round")%>
</div>
<div class="contenido">
<h1>Politica de privacidad</h1><br/>

<h1>Informacion recopilada</h1>
<ul>
  <li>Cuando solicita informacion adicional o se registra para obtener servicios en el sitio Web de <strong>Yoptic </strong>, la compania le solicitara que proporcione informacion basica de contacto.</li>
  <li>Cuando adquiere la plataforma o servicios de<strong>Yoptic </strong>, la compania le solicitara que proporcione informacion de facturacion.</li>
  <li><strong>Yoptic </strong> no rastrea interacciones con los sitios Web y los correos electronicos de su compania.</li>
</ul>


<h1>Uso de la informacion</h1>
<ul>
  <li><strong>Yoptic </strong> utiliza informacion recopilada para proporcionar los servicios que se solicitan.</li>
  <li<strong>Yoptic </strong> puede utilizar la informacion recopilada para proporcionar informacion adicional sobre los servicios, promociones y eventos de la compania.</li>
  <li><strong>Yoptic </strong> podra utilizar la informacion recopilada para mejorar los sitios Web y los servicios de la compania.</li>
  <li><strong>Yoptic </strong> no comparte, vende, alquila o comercia con la informacion de identificacion personal con terceros para fines promocionales.</li>
</ul>

<h1>Datos de clientes</h1>
<ul>
  <li>Los clientes de <strong>Yoptic </strong> pueden enviar los datos o informacion a los servicios de la compania.</li>
  <li>Salesforce.com no revisara, compartira, distribuira o referenciara Datos de clientes. <strong>Yoptic </strong> podra acceder a los Datos de clientes para la provision de los Servicios unicamente, evitando o dirigiendo los problemas tecnicos o de servicio, a la solicitud del cliente en relacion con problemas del servicio de atencion al cliente.</li>
</ul>

<br/>
</div>