<div class="banner">
  <%=  image_tag("18.jpg", :alt=> "Banner", :class=>"round")%>
</div>
<div class="contenido">
<h1>Plataforma</h1>
<p>La plataforma <strong>Yoptic </strong> permite la gestion integral de las opticas de una manera simple, productiva y segura.
  Al ser una plataforma web puedes acceder a ella desde cualquier lugar en cualquier momento, unicamente lo que necesitas es una conexion a internet.
  Construimos la plataforma para que sea adaptable y flexible por medio de modulos que puedes escoger dependiendo de tus necesidades y capacidades.
  Buscamos que obtengas resultados sorprendentes por medio de la definicion de metas, la eficiencia operativa, la medicion del desempeno de la compania y trabajadores, el fortalecimiento de las relaciones con tus clientes, y un aprendizaje continuo para lograr la excelencia.</p><br/>
  
<p>Con <strong>Yoptic </strong> controlas tu desempeno, logras la excelencia operacional y creces constantemente.</p>

<%= image_tag("plataforma.png", :alt => "Imagen plataforma", :class => "round") %>

<h1>Ediciones</h1>
<p>En <strong>Yoptic </strong> creemos en la flexibilidad. Contamos con 3 ediciones de la plataforma que te permitiran usar los diferentes modulos de la plataforma. 
  Entre mas modulos de la plataforma uses obtienes mejores resultados. Aca puedes ver las diferencias entre las ediciones y que ofrece cada una.</p>
<p class="readmore"><%= link_to "Ver las ediciones", editions_path %></p>


<h1>Beneficios</h1>
<p>Grandes beneficios a bajo costo para tu compania. <strong>Yoptic </strong> te ofrece beneficios a nivel financiero, a nivel administrativo y a nivel operativo. Conoce en profundidad cuales son los beneficios que muchos estan disfrutando.</p>
<p class="readmore"><%= link_to "Ver los beneficios", benefits_path %></p>
<br/>
</div>