<div class="banner">
  <%=  image_tag("13.png", :alt=> "Banner", :class=>"round")%>
</div>
<div class="contenido">
<h1>Servicios</h1>
<p><strong>Yoptic </strong> no solamente ofrece la plataforma para la gestion integral de las opticas. Nos encargamos de brindarte un portafolio de servicios
  enfocados al apoyo de tu negocio y tu equipo. Te apoyamos desde el inicio por medio de asesorias y consultorias especializadas, configuramos y ponemos en marcha
  tu plataforma, capacitamos a todo el personal administrativo y operativo, y te aseguramos el continuo funcionamiento de la plataforma solucionando tus problemas.</p><br/>
  
<p>Con <strong>Yoptic </strong> no obtienes solo una plataforma, obtienes confianza!</p>

<h1>Asesorias y consultorias</h1>
<p>Hacemos un acercamiento a tu negocio logrando un entendimiento claro de tus necesidades y planteamos diferentes estrategias para lograr la excelencia.
Nuestros asesores te guiaran en temas puntuales para lograr mejores resultados y ser mas competitivo.</p>


<h1>Parametrizacion y puesta en marcha</h1>
<p>Entendemos que tu negocio es particular y busca la diferenciacion. Nos encargamos de la parametrizacion, configuracion y puesta en marcha de tu plataforma.
  Y lo hacemos rapido! Personalizamos los productos y servicios que ofreces y te acompanamos durante todo el proceso.</p>


<h1>Capacitaciones</h1>
<p>El conocimiento no se queda con nosotros. Te lo transferimos a ti y a tu equipo! Asi nuestra plataforma sea lo mas sencillo de usar, te capacitamos en el
  uso de ella, a nivel operativo y a nivel administrativo. Te ensenamos cada funcionalidad presente para que puedas sacar el mejor provecho.</p>


<h1>Soporte y aseguramiento</h1>
<p>Cuando nos necesites, estamos ahi! Estamos para ayudarte de una manera amable,agil y efectiva. Si tienes dudas o problemas nosotros las solucionamos.
  Te aseguramos el continuo funcionamiento de tu plataforma.</p>
  <p>Con <strong>Yoptic </strong> no obtienes solo una plataforma, obtienes confianza!</p><br/>

<%= image_tag("soporte.png", :alt => "Imagen soporte", :class => "round") %>

<br/>
</div>