<div class="banner">
  <%=  image_tag("13.png", :alt=> "Banner", :class=>"round")%>
</div>
<div class="contenido">
<h1>Soporte y aseguramiento</h1>
<p>Cuando nos necesites, estamos ahi! Estamos para ayudarte de una manera amable,agil y efectiva. Si tienes dudas o problemas nosotros las solucionamos.
  Te aseguramos el continuo funcionamiento de tu plataforma.</p>
  <p>Con <strong>Yoptic </strong> no obtienes solo una plataforma, obtienes confianza!</p><br/>

<%= image_tag("soporte.png", :alt => "Imagen soporte", :class => "round") %>

<br/>
</div>