<footer class="round">
  <div class="copyright">
    <p>Copyright &copy; 2012 Yoptic - Todos los derechos reservados -</p>
  </div>
  <div class="politicas">
  <ul >
      <li><%= link_to "Politica de privacidad", privacy_path %></li>
    </ul>
    </div>
    <br class="clear" />
</footer>